body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	/*margin: 0;*/
	/*padding: 0;*/
}

.menu_bar {
	background-color: #fff;
	border-top: 5px #afafaf solid;
	border-right: 5px #fff solid;
	border-bottom: 5px #afafaf solid;;
	border-left: 5px #fff solid;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	letter-spacing: 0.1em;
	padding: 8px;
	text-align: left;

	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	margin: 0 auto;
	/*width: 0;*/

}

.menu_bar ul {
	height: auto;
	list-style-type: none;
	margin: 0;
	padding: 8px 0;
}

.menu_bar li {
	display: inline;
	padding: 8px;
}

.menu_bar a {
	/*color: #fff;*/
	padding: 10px;
	text-decoration: none;
}

.right {
	float: right;
	margin-right: 40px;
}

li .twitter-icon {
	background-image: url("twitter.png");
	background-position: center;
	background-repeat: no-repeat;
}

li .instagram-icon {
	background-image: url("social_media_popular_app_logo_instagram.png");
	background-position: center;
	background-repeat: no-repeat;
}

li .pinterest-icon {
	background-image: url("social_media_popular_app_logo_pinterest.png");
	background-position: center;
	background-repeat: no-repeat;
}

li .facebook-icon {
	background-image: url("social_media_popular_app_logo_facebook.png");
	background-position: center;
	background-repeat: no-repeat;
}


#container {
	display: table;
	padding: 60px 35px 20px 35px;
}

.writer-biography-left-column, .content-right-column {
	display: table-cell;
	/*text-align: center;*/
}

.writer-biography-left-column {
	/*border: 5px dotted blue;*/

	height: 400px;
	width: 700px;
}

.writers-image {
	background-image: url("pexels-photo-348521.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 350px;
	height: 350px;
}

.content-right-column {
	/*border: 3px solid #000;*/
	padding-left: 40px;
}
